<template name="postEdit">
  <h1>Edit Post</h1>

  <form role="form">
    <div class="form-group">
      <input type="text" class="form-control" name="post-title" placeholder="Title" value="{{title}}">
    </div>
    <div class="form-group">
      <input type="url" class="form-control" name="post-url" placeholder="URL" value="{{url}}">
    </div>
    <div class="form-group">
      <textarea class="form-control" name="post-description" rows="6" placeholder="Description" value="{{description}}"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <hr />
    <a href="#" class="btn btn-danger delete">Delete Post</a>
  </form>
  
</template>

