<template name="postEdit">
  <div class="container">
    <div id="editPost">
        <h1>Edit Post</h1>

        <form role="form">
          {{#if myImage.isUploaded}}
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="thumbnail">
            <img src="{{myImage.url store='images'}}" class="img-responsive" />
            <div class="caption">
                  <a href="#" class="btn btn-danger delete-image">Delete Image</a>
              </div>
            </div>
          </div>
          {{else}}
         <div class="form-group">
           <label for="post-image">Image:</label>
           <input type="file" name="post-image" />
         </div>
          {{/if}}

          <div class="form-group">
            <input type="text" class="form-control well" name="post-title" placeholder="Title" value="{{title}}">
          </div>
          <div class="form-group">
            <input type="url" class="form-control well" name="post-url" placeholder="URL" value="{{url}}">
          </div>
          <div class="form-group">
            <textarea class="form-control well" name="post-description" rows="6" placeholder="Description" value="{{description}}"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>

          <a href="#" class="btn btn-danger delete">Delete Post</a>
        </form>
    </div>
    </div> 
</template>

