<template name="postItem">
  
  <div class="col-md-3 col-sm-6 col-xs-12">
     <div class="thumbnail">
        <a href="{{pathFor 'postPage'}}"><img data-src="holder.js/100%x200/text:FPO" class="img-responsive"/></a>
       <div class="post-author pull-right">
          <a href="{{pathFor 'postsByAuthor'}}"><img data-src="holder.js/50x50/sky/text:{{author}}" class="img-circle"/></a>
       </div>
       {{#if ownPost}}
         <div class="post-edit pull-right">
           <a href="{{pathFor 'postEdit'}}" class="btn btn-default btn-xs">Edit</a>
         </div>
       {{/if}}
        <div class="caption">
          <h3><a href="{{url}}">{{title}}</a> <small>{{domain}}</small></h3>  
          <p>{{description}}</p>
          <button type="button" class="btn btn-primary btn-xs">Like</button>
          {{#if likes}}<small>{{likes}} Likes</small>{{/if}}
          
       </div>
    </div>
  </div>
  
  
</template>
